/* Start CTA Area css
============================================================================================ */
.cta-area {
  background: #60bc0f;
  background-size: cover;
  text-align: center;
  color: #fff;
  z-index: 1; }
  .cta-area.overlay:after {
    background: #000;
    opacity: .5; }
  .cta-area h1 {
    font-size: 36px;
    color: #fff;
    margin-bottom: 20px; }
  .cta-area p {
    margin-bottom: 40px; }
  .cta-area .primary-btn {
    margin-top: 15px; }

/* End CTA Area css
============================================================================================ */
