/* Our Major Cause Area css
============================================================================================ */
.features_causes {
  padding-bottom: 100px; }
  @media (max-width: 991px) {
    .features_causes {
      padding-bottom: 40px; } }
  .features_causes .card {
    border-radius: 0px;
    border: 0;
    transition: all 300ms linear 0s;
    margin-bottom: 30px;
    overflow: hidden; }
    .features_causes .card p {
      margin-bottom: 0; }
    .features_causes .card .card-body {
      padding: 0; }
    .features_causes .card .card-img-top {
      border-radius: 0px; }
    .features_causes .card figure {
      overflow: hidden;
      margin: 0; }
      .features_causes .card figure img {
        transition: all 300ms linear 0s; }
    .features_causes .card .card_inner_body {
      padding: 40px 30px; }
      .features_causes .card .card_inner_body h4 {
        font-size: 20px; }
        @media (max-width: 1199px) and (min-width: 992px) {
          .features_causes .card .card_inner_body h4 {
            font-size: 16px; } }
    .features_causes .card .raised_goal {
      margin-top: 25px;
      margin-bottom: 20px; }
      .features_causes .card .raised_goal span {
        color: #60bc0f; }
    .features_causes .card .donation .primary_btn {
      line-height: 34px;
      padding: 0 20px; }
    .features_causes .card .donation span {
      color: #60bc0f; }
    .features_causes .card .card-text {
      margin-bottom: 0; }
    .features_causes .card:hover {
      box-shadow: 0px 12px 40px rgba(153, 153, 153, 0.2); }
      .features_causes .card:hover img {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -o-transform: scale(1.2);
        -ms-transform: scale(1.2); }
      .features_causes .card:hover .donation .primary_btn {
        background: #fdbb00;
        color: #000000;
        border: 1px solid #fdbb00; }

/* End Our Major Cause Area css
============================================================================================ */
