.banner_area {
  position: relative;
  z-index: 1;
  min-height: 500px; }
  .banner_area .banner_inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 500px;
    background: transparent;
    z-index: 1; }
    .banner_area .banner_inner .overlay {
      background: linear-gradient(0deg, rgba(6, 13, 1, 0.6), rgba(6, 13, 1, 0.6)), url(/assets/img/banner/banner.jpg) no-repeat scroll center center;
      background-size: cover;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 100%;
      bottom: 0;
      z-index: -1;
      opacity: 1; }
    .banner_area .banner_inner .banner_content h2 {
      color: #fff;
      font-size: 48px;
      font-family: "Roboto", sans-serif;
      margin-bottom: 10px;
      font-weight: 500; }
    .banner_area .banner_inner .banner_content p {
      color: #ffffff;
      margin-bottom: 0; }
