<app-header></app-header>
<app-home-banner></app-home-banner>
<!-- <app-causes></app-causes>
<app-aboutus-index></app-aboutus-index>
<app-featured-causes></app-featured-causes>
<app-event-area></app-event-area>
<app-team></app-team>
<app-volunteer></app-volunteer>
<app-blog></app-blog>
<app-subscribe></app-subscribe> -->
<app-footer></app-footer>
<router-outlet></router-outlet>
