<div class="container">
  <div class="subscribe_area">
    <div class="row">
      <div class="col-lg-12">
        <div class="d-flex align-items-center">
          <h1 class="text-white">Do you have a question?</h1>
          <div id="mc_embed_signup">
            <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
              <div class="input-group d-flex flex-row">
                <input name="EMAIL" placeholder="Your email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                <button class="ml-10 primary_btn yellow_btn btn sub-btn rounded">SUBSCRIBE</button>
              </div>
              <div class="info"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
