<section class="event_area section_gap_custom">
    <div class="container">
      <div class="main_title">
        <h2>Upcoming events</h2>
        <p>Creepeth called face upon face yielding midst is after moveth </p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="single_event">
            <div class="row align-items-center">
              <div class="col-lg-6 col-md-6">
                <figure>
                  <img class="img-fluid w-100" src="assets/img/event/e1.jpg" alt="">
                  <div class="img-overlay"></div>
                </figure>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="content_wrapper">
                  <h3 class="title">
                    <a href="event-details.html">Working syrian childreen</a>
                  </h3>
                  <p>
                    Be tree their face won't appear day to waters moved fourth in they're divide don't a you're were man.
                  </p>
                  <div class="d-flex count_time" id="clockdiv1">
                    <div class="mr-25">
                      <h4 class="days">552</h4>
                      <p>Days</p>
                    </div>
                    <div class="mr-25">
                      <h4 class="hours">08</h4>
                      <p>Hours</p>
                    </div>
                    <div class="mr-25">
                      <h4 class="minutes">45</h4>
                      <p>Minutes</p>
                    </div>
                    <div>
                      <h4 class="seconds">30</h4>
                      <p>Seconds</p>
                    </div>
                  </div>
                  <a href="#" class="primary_btn">Learn More</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="single_event">
            <div class="row align-items-center">
              <div class="col-lg-6 col-md-6">
                <figure>
                  <img class="img-fluid w-100" src="assets/img/event/e2.jpg" alt="">
                  <div class="img-overlay"></div>
                </figure>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="content_wrapper">
                  <h3 class="title">
                    <a href="event-details.html">Help and homelesness</a>
                  </h3>
                  <p>
                    Be tree their face won't appear day to waters moved fourth in they're divide don't a you're were man.
                  </p>
                  <div class="d-flex count_time" id="clockdiv2">
                    <div class="mr-25">
                      <h4 class="days">552</h4>
                      <p>Days</p>
                    </div>
                    <div class="mr-25">
                      <h4 class="hours">08</h4>
                      <p>Hours</p>
                    </div>
                    <div class="mr-25">
                      <h4 class="minutes">45</h4>
                      <p>Minutes</p>
                    </div>
                    <div>
                      <h4 class="seconds">30</h4>
                      <p>Seconds</p>
                    </div>
                  </div>
                  <a href="#" class="primary_btn">Learn More</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="single_event">
            <div class="row align-items-center">
              <div class="col-lg-6 col-md-6">
                <figure>
                  <img class="img-fluid w-100" src="assets/img/event/e3.jpg" alt="">
                  <div class="img-overlay"></div>
                </figure>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="content_wrapper">
                  <h3 class="title">
                    <a href="event-details.html">Save the clean water</a>
                  </h3>
                  <p>
                    Be tree their face won't appear day to waters moved fourth in they're divide don't a you're were man.
                  </p>
                  <div class="d-flex count_time" id="clockdiv3">
                    <div class="mr-25">
                      <h4 class="days">552</h4>
                      <p>Days</p>
                    </div>
                    <div class="mr-25">
                      <h4 class="hours">08</h4>
                      <p>Hours</p>
                    </div>
                    <div class="mr-25">
                      <h4 class="minutes">45</h4>
                      <p>Minutes</p>
                    </div>
                    <div>
                      <h4 class="seconds">30</h4>
                      <p>Seconds</p>
                    </div>
                  </div>
                  <a href="#" class="primary_btn">Learn More</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="single_event">
            <div class="row align-items-center">
              <div class="col-lg-6 col-md-6">
                <figure>
                  <img class="img-fluid w-100" src="assets/img/event/e4.jpg" alt="">
                  <div class="img-overlay"></div>
                </figure>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="content_wrapper">
                  <h3 class="title">
                    <a href="event-details.html">Foods for poor childreen</a>
                  </h3>
                  <p>
                    Be tree their face won't appear day to waters moved fourth in they're divide don't a you're were man.
                  </p>
                  <div class="d-flex count_time" id="clockdiv4">
                    <div class="mr-25">
                      <h4 class="days">552</h4>
                      <p>Days</p>
                    </div>
                    <div class="mr-25">
                      <h4 class="hours">08</h4>
                      <p>Hours</p>
                    </div>
                    <div class="mr-25">
                      <h4 class="minutes">45</h4>
                      <p>Minutes</p>
                    </div>
                    <div>
                      <h4 class="seconds">30</h4>
                      <p>Seconds</p>
                    </div>
                  </div>
                  <a href="#" class="primary_btn">Learn More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
