/* Start recent Events css
=========================================================================================== */
.event_area {
  padding-bottom: 70px; }
  @media (max-width: 991px) {
    .event_area {
      padding-bottom: 10px; } }
  .event_area .single_event {
    margin-bottom: 60px; }
    .event_area .single_event figure {
      overflow: hidden;
      margin: 0;
      position: relative; }
      .event_area .single_event figure img {
        transition: all 300ms linear 0s; }
    @media (max-width: 1024px) {
      .event_area .single_event .content_wrapper {
        margin-top: 0; } }
    @media (max-width: 767px) {
      .event_area .single_event .content_wrapper {
        margin-top: 30px;
        text-align: center; } }
    .event_area .single_event .content_wrapper .title {
      font-size: 20px;
      margin-bottom: 15px; }
      @media (max-width: 1024px) {
        .event_area .single_event .content_wrapper .title {
          margin-bottom: 10px; } }
      .event_area .single_event .content_wrapper .title a {
        color: #222222; }
    @media (max-width: 1199px) and (min-width: 992px) {
      .event_area .single_event .content_wrapper .count_time {
        display: none !important; } }
    @media (max-width: 767px) {
      .event_area .single_event .content_wrapper .count_time {
        display: none !important; } }
    .event_area .single_event .content_wrapper .count_time h4 {
      font-size: 20px;
      margin-bottom: 0px; }
    .event_area .single_event .content_wrapper .primary_btn {
      line-height: 38px; }
    .event_area .single_event:hover .title a {
      color: #60bc0f; }
    .event_area .single_event:hover img {
      transform: scale(1.2);
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -o-transform: scale(1.2);
      -ms-transform: scale(1.2); }
    .event_area .single_event:hover .img-overlay {
      background: initial; }
    .event_area .single_event:hover .primary_btn {
      background: #fdbb00;
      border: 1px solid #fdbb00;
      color: #222222; }

@media (max-width: 991px) {
  .event-details-area .condition-right h2 {
    margin-top: 40px; } }
.event-details-area .condition-right ul {
  padding-left: 0px;
  margin-top: 30px; }
.event-details-area .condition-right li {
  list-style: none;
  margin-bottom: 5px; }
  .event-details-area .condition-right li::before {
    font: normal normal normal 14px/1 FontAwesome;
    margin-right: 20px; }
  .event-details-area .condition-right li:nth-child(1)::before {
    content: "\f073"; }
  .event-details-area .condition-right li:nth-child(2)::before {
    content: "\f015"; }
  .event-details-area .condition-right li:nth-child(3)::before {
    content: "\f124"; }

/* recent Events css End
=========================================================================================== */
